<div class="wrapper">
    <img src="/images/<%= bookID.isbn_13 %>.jpg" alt="img" onerror="this.src='/images/missing.jpg'" width="" height=600px />    <!-- https://stackoverflow.com/questions/3984287/how-to-show-alternate-image-if-source-image-is-not-found-onerror-working-in-ie -->
    <div class="book_details">
        <h1><%= bookID.name %></h1>
        <ul style="list-style-type:None">
            <li>ISBN-13: <%= bookID.isbn_13 %></li>
            <li>ISBN-10: <%= bookID.isbn_10 %></li>
            <li>Author: <%= bookID.author %></li>
            <li>Edition: <%= bookID.edition %></li>
            <li>Binding: <%= bookID.binding %></li>
            <li>Publisher: <%= bookID.publisher %></li>
            <!-- <li>Published: <%= bookID.published %></li> --> 
            <% <!-- https://amjustsam.medium.com/how-to-format-mongoose-crappy-date-10df67d7a2d6 -->
            try {
                var monthNames = [
                        'January', 'February', 'March',
                        'April', 'May', 'June', 'July',
                        'August', 'September', 'October',
                        'November', 'December'
                    ];
                var d = bookID.published.getDate();
                var m = monthNames[bookID.published.getMonth()];
                var y = bookID.published.getFullYear();
            } 
            catch(err) { //catch exception for when published date does not exist
                var d = '';
                var m = '';
                var y = '';
            }
            %>
            <li>Published: <%= m+ ` ` +y %></li>
        </ul>
    </div>
</div>